@import "tailwindcss";

.form-control {
  @apply border border-gray-300 rounded-md p-2 transition-all
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.custom-radio-label {
  @apply relative flex items-center cursor-pointer;

  input[type="radio"] {
    @apply appearance-none w-5 h-5 border-2 rounded-full;
  }

  span {
    @apply relative pl-6;

    &::before {
      content: "";
      @apply absolute w-3 h-3 -left-6 rounded-full bg-blue-600 opacity-0 transition;
      top: 6px;
    }
  }

  &:hover span::before {
    @apply opacity-50 duration-500 ease-in-out;
  }

  input[type="radio"]:checked + span::before {
    @apply opacity-100;
  }
}

.custom-checkbox-label {
  @apply relative flex items-center gap-2 cursor-pointer;

  input[type="checkbox"] {
    @apply appearance-none w-5 h-5 border-2 rounded-sm;
  }

  span {
    @apply relative;

    &::after {
      content: "✔";
      @apply absolute text-blue-600 text-sm -left-6 top-[2px] opacity-0 transition;
    }
  }

  &:hover span::after {
    @apply opacity-40 duration-500 ease-in-out;
  }

  input[type="checkbox"]:checked + span::after {
    @apply opacity-100;
  }
}